.newInvoice{
    flex: 1 100%;
    height: 40%;
    width: 70%;
    display: flex;
    position: absolute;
    right: 100px;
    top: 200px;
    z-index: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }