.error-page-401 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-page-404 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
