.checkout-wrapper {
  /* border: 1px solid red; */
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
}

.checkout-wrapper h2 {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .checkout-wrapper {
    margin: 194px auto 0;
  }


}