/* .jumbotron {
  height: 100vh;
}

.display-4 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead {
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../../static/img/invoices.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.masthead a {
  background-color: #6dc7e9;
  border-color: #6dc7e9;
}

header.masthead a:hover {
  background-color: #befa6f;
  border-color: #befa6f;
}

/* nav {
  background-color: #212529;
  opacity: 0.3;
} */

.nav-link {
  background-color: #6dc7e9;
  margin-left: 1rem;
  border: 1px solid #6dc7e9;
}

.nav-link a {
  border-color: 1px solid red;
}

.nav-link:hover {
  background-color: #befa6f;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
