.form-container1 {
    /* flex: 1 100%; */
    /* height: 30%; */
    width: 70%;
    display: flex;
    position: absolute;
    left: 220px;
    top: 70px;
    z-index: 1;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container1 > * {
    flex: 1 100%; /* We tell all items to be 100% width, via flex-basis */
}

.logo {
    margin-top: 30px; 
}

.logo-toggle {
  display: flex;
  align-items: center;
  margin-left: 2px;
}

.logo-toggle input {
  z-index: 10;
  margin: -2px;
}

.side-nav {
    height: 800px;
}

.striped-table {
    margin-top: 30px;
}

.button-line-items{
    margin-bottom: 50px;
}

.download-pdf-button {
    margin-left: 20px;
    margin-bottom: 50px; 
}

.subtotal {
    margin-top: 20px; 
    background-color: pink;
}

.form-error{
    color: red;
    margin-bottom: 3px;
}


.logo-img {
  max-height: 200px;
  margin-bottom: 15px;
}

.notes {
    margin-top: 40px;
}

.notes-label {
    margin-bottom: 20px; 
}

.terms {
    margin-top: 30px;
    margin-bottom: 40px; 
}

.terms-label {
    margin-bottom: 20px;
}

.update-button {
    margin-bottom: 50px;
}

.save-button {
    margin-bottom: 50px;
}


/* .form-container2 {
    flex: 1 100%;
    height: 50%;
    display: flex;
    position: absolute;
    right: 100px;
    text-align: right;
    background-color: cadetblue;
} */

/* .invoice-number { */
    /* display: flex; */
    /* text-align: end;  */
    /* justify-content: flex-end;  */
    /* position: absolute; */
    /* right: 0px; */
    /* z-index: 1; */
    /* flex: 1 100%; */
    /* height: 30%;
    width: 70%;
    right: 50px;
    top: 70px;
    text-align: right; */
    /* background-color: blueviolet; */
/* } */
   

@media (max-width: 768px) {
    .form-container1 {
        top: 190px;
        left: 17%;
        margin: 0 auto 75px;
        z-index: 1;
    }

    .date-label {
        margin-top: 14px;
        order: 2; 
    }

    .date {
        order: 2;
    }

    .due-date-label {
        order: 3
    }

    .due-date {
        order: 3;
        /* margin-top: 4px; */
    }

    .balance-due-label {
        order: 4;
    }

    .balance-due {
        display: flex; 
        order: 4; 
    }

    .invoice-from-label {
        order: 5;
        margin-top: 10px; 
    }

    .invoice-from {
        display: flex;
        order: 5;
        margin-top: 24px; 
    }
    
    .invoice-to-label {
        order: 6;
    }

    .invoice-to {
        order: 6;
        margin-top: 24px; 
    }    
}