.form-container1 {
    /* flex: 1 100%; */
    /* height: 30%; */
    width: 70%;
    display: flex;
    position: absolute;
    left: 220px;
    top: 70px;
    z-index: 1;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-nav {
    height: 800px;
}

.download-pdf-button {
    margin-left: 20px;
}

/* .form-container2 {
    flex: 1 100%;
    height: 50%;
    display: flex;
    position: absolute;
    right: 100px;
    text-align: right;
    background-color: cadetblue;
} */

/* .right-indent {
    flex: 1 100%;
    height: 30%;
    width: 70%;
    display: flex;
    position: absolute;
    right: 50px;
    top: 70px;
    z-index: 1;
    text-align: right;
    background-color: blueviolet;

}
   */