.side-nav {
  height: 600px;
  width: 200px;
  margin-left: 15px;
  margin-top: 25px;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: left;
  background-color: lightgray;
}

.invoices1 {
  text-decoration-line: none;
  font: black;
}

.invoices2 {
  display: flex;
  margin-bottom: 20px;
  text-decoration-line: none;
  font-size: 18px;
  font: black;
}

.billing {
  margin-bottom: 20px;
  text-decoration-line: none;
  font-size: 18px;
  font: black;
}

.settings {
  margin-bottom: 20px;
  text-decoration-line: none;
  font-size: 18px;
  font: black;
}
